/Bin
/adm5cDes
/arDes
/aipDes
/arcDes
/ccp5Des
/ccpDes
/cgoDes
/digDes
/Lib
/edtDes
/gcbDes
/ggpDes
/intDes
/pg5Des
/pacDes
/pg5Adm
/pg5cDes
/scmDes
/pss5Des
/sajDes
/sggDes
/sg5IndDes
/sgcDes
/sgeDes
/wflDes
/smbDes
/smdDes
/sp4Des
/sppDes
/TestesAutomatizados
/mapa.txt
/FinalBuilder.txt
*.~dpr
*.~dfm
*.~pas
*.bak*
*.cfg
*.dof
*.RES
*.dsk
*.~dsk
*.txt
*.~pa